# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# Environment variables and secrets
.env

# IDE/editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS-specific
Thumbs.db
.DS_Store

.env
.env.local
.env.production
